
.btn {
    display: inline-block;
    word-spacing: .5rem;
    text-align: center;
    position: relative;
    cursor:pointer;
    &:hover {
        opacity: .8s;
    }
    &.btn-full {
        width:100%;   
        padding:.5em;
    }
    &.btn-primary {
        background-color: $deep-green;
        color: #fff;
        &:hover{
            opacity: .9;
        }
    } 
    
    &.btn-grey {
        background-color: $deep-grey;
        color: #fff;
        &:hover{
            opacity: .9;
        }
    } 
    &.btn-lg {
        border-radius: 10px; 
        min-width: 150px;
        height: 60px;
        line-height: 60px;
        padding: 0 25px;
        font-size: 20px;
        
    }
    &.btn-md {
        border-radius: 10px;
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        font-size: 16px;
    }
    &.text-lg {
        font-size: 40px;
    }
}