/* 只要img 上層有寬度即可自適應展開height */
.pic {
    img {
        width: 100%;
        height: auto;   
    }
}
.bgGray {
    background-color: #5a5a5a;
}
.bgGreen {
    background-color: $deep-green;
}
.picBg{
    background-image: url('./../../../public/images/greyBlur.png');   
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 93vh;
}
